<h1 class="text-center">Login</h1>
<hr>
<div class="jumbotron">
  <div class="row justify-content-center">

    <div class="col-md-7">

      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" ngNativeValidate >

        <div *ngIf="invalidInput" class="alert alert-danger text-center">
          <p>{{errorMessage}}</p>
        </div>

        <div class="form-group">
          <label for="email">Email address</label>
          <input ngModel id="email" name="email" type="email" autocomplete="email" class="form-control" placeholder="Enter your email address"
            required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input ngModel id="password" name="password" type="password"  autocomplete="current-password" class="form-control"
            placeholder="Enter your password" required>
        </div>

        <div class="form-group text-center">
          <button [disabled]="loading" class="btn btn-outline-secondary btn-block btn-lg" type="submit">Login</button>
          <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>

        <div class="row text-center">
          <div class="col">
            <div class="form-group">
              <a routerLink="/register" class="btn btn-link text-center">Register</a>
            </div>
          </div>
        </div>

      </form>

    </div>

  </div>
</div>
