<h2 class="text-center">Locations</h2>
<hr>

<div class="row">
  <div class="col">
    <p>
      <button type="button" class="btn btn-outline-primary" (click)="openCreateNewModal(createNewLocationModal)">Create
        New Location</button>
    </p>
  </div>
</div>

<div *ngIf="invalidInput" class="row justify-content-center">
  <div class="alert alert-danger alert-dismissible fade show col-md-7" role="alert">

    <p class="text-center">{{errorMessage}}</p>

    <button type="button" class="close" (click)="invalidInput=false;" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div *ngIf="successResult" class="row justify-content-center">
  <div class="alert alert-success alert-dismissible fade show col-md-7" role="alert">

    <p class="text-center">{{successMessage}}</p>

    <button type="button" class="close" (click)="successResult=false;" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col">

      <div>

        <ngx-datatable [rows]="rows" [headerHeight]="50" [footerHeight]="50" [columnMode]="'force'" [limit]="10"
          [selectionType]="'single'" [loadingIndicator]="loading" (select)='onSelect($event)' [rowHeight]="'auto'"
          [summaryPosition]="'bottom'" [reorderable]="reorderable" class="material striped">

          <ngx-datatable-column name="name">
            <ng-template let-column="column" ngx-datatable-header-template>
              Name
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="status">
            <ng-template let-column="column" ngx-datatable-header-template>
              Status
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="isSilentAlarm">
            <ng-template let-column="column" ngx-datatable-header-template>
              Is Silent Alarm
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [checked]="value" disabled>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>

      </div>

    </div>
  </div>
</div>

<div class="modal" id="deleteLocationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Delete Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col">
            <p>Are you sure you want to delete {{selectedLocation.name}}?</p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" (click)="confirmedLocationDelete()" data-dismiss="modal" class="btn btn-danger">
          Delete
        </button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" autofocus>
          Cancel
        </button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="armLocationModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">{{selectedLocation.armed == true? 'Disarm': 'Arm'}} Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col">
            <p>Are you sure you want to {{selectedLocation.armed == true? 'disarm': 'arm'}}: {{selectedLocation.name}}?</p>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" (click)="updateLocationArmedState()" data-dismiss="modal" class="btn btn-primary">
          {{selectedLocation.armed == true? 'Disarm': 'Arm'}} Location
        </button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" autofocus>
          Cancel
        </button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="locationDetailsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{selectedLocation.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col">

            <div class="form-group">
              <label>Current State</label>
              <input name="name" class="form-control" [(ngModel)]="selectedLocation.status" disabled>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col">
                  <button type="button" data-dismiss="modal" data-toggle="modal" data-target="#armLocationModal" class="btn btn-block"
                    [ngClass]="{ 'btn-success': selectedLocation.armed === true , 'btn-danger': selectedLocation.armed === false } ">
                    {{selectedLocation.armed == true? "Disarm Location" : "Arm Location"}}
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col">
                  <a [routerLink]="['/managelocation', selectedLocation.id]" class="btn btn-block btn-outline-primary"
                    data-dismiss="modal">Manage</a>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row text-center">
                <div class="col">
                  <button type="button" class="btn btn-outline-danger" aria-label="Left Align" data-dismiss="modal"
                    data-toggle="modal" data-target="#deleteLocationModal">
                    <span class="fa fa-trash-o fa-lg" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #createNewLocationModal let-modal>

  <form #createNewLocationForm="ngForm" (ngSubmit)="createNewLocation()" ngNativeValidate>
    <div class="modal-header">
      <h4 class="modal-title">Add New Location</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col">

          <div class="form-group">
            <label>Location name:</label>
            <input id="name" name="name" class="form-control" [(ngModel)]="newLocation.name" required placeholder="Please enter the name of the new location">
          </div>

          <div class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input id="isSilentAlarm" name="isSilentAlarm" [(ngModel)]="newLocation.isSilentAlarm" class="form-check-input"
                  type="checkbox">
                Is this location a silent alarm?
              </label>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="form-group">
        <button [disabled]="!newLocation.isValid()" class="btn btn-primary" type="submit">Add New Location</button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()" autofocus>Cancel</button>
      </div>
    </div>

  </form>
</ng-template>