.header-text{
    font-size: 6rem;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 2rem;
}

.tag-text{
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 2rem;
}

.get-started{
    padding-top: 2rem;
}