<div class="row">
  <div class="col">
    <h2 class="header-text text-center">Simply Secure</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3 class="tag-text text-center">A free open-source platform enabling easy <br>automation of home-security</h3>
  </div>
</div>

<div class="row text-center">
  <div class="col text-center">
    <a href="https://itunes.apple.com/ca/app/simply-secure/id1451550155"><img src="../../assets/img/app-store-badge.svg"
        style="width: 200px"></a>
    <a href="https://play.google.com/store/apps/details?id=com.joshuakaluba.simplysecuremobile&hl=en">
      <img src="../../assets/img/google-play-badge.svg" style="width: 200px">
    </a>
  </div>
</div>

<div class="row text-center get-started">
  <div class="col text-center">
    <h3 class="tag-text text-center">
      <a routerLink="/login">
        Login
      </a>
      or
      <a routerLink="/register">
        Register
      </a>
      <br>
      to get started</h3>
  </div>
</div>